body {
  background: black;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
